 body {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #222730;
   margin: 0;
 }

 .rectangle {
   width: 100%;
   height: 150px;
   background: #4CAAB3;
 }

 .big-square {
   position: absolute;
   width: 250px;
   height: 250px;
   background: #222730;
   transform: rotate(45deg);
 }

 .small-square {
   height: 150px;
   width: 150px;
   position: absolute;
   background: #4CAAB3;
   transform: rotate(45deg);
 }

 .circle {
   height: 50px;
   width: 50px;
   background: #393E46;
   position: absolute;
   border-radius: 50%;
 }
