body {
  background: #f2f2b6;
  margin: 0;
}
div {
  position: relative;
  margin: 85px 0 0 60px;
}

div::before,
div::after {
  content: "";
  position: absolute;
  border: 75px solid transparent;
}

div::before {
  border-top: 130px solid #ff6d00;
  border-bottom: 0;
  filter: drop-shadow(20px 0 0 #fd4602);
}

div::after {
  border-bottom: 130px solid #fd4602;
  border-top: 0;
  filter: drop-shadow(20px 0 0 #ff6d00);
  right: 80px;
}
